<div id="banner" class="podcasts-index">
  <header class="cf">
    <div class="wrapper-wide">
      <a href="#" id="logo">Podcast.fm</a>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Create a podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <h1>Discover your new favorite podcast.</h1>
</div>
<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <a href="#">
        <li>
          <img src="http://media.simplecast.com/podcast/image/187/small_1405105973-artwork.jpg" alt="">
          <div class="podcast-overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode-count">1 episode</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://is1.mzstatic.com/image/thumb/Music19/v4/88/9f/d5/889fd521-59d6-4cb6-101f-32cfb34eb4ab/source/170x170bb.jpg" alt="">
          <div class="podcast-overview">
            <h2>Seanwes Podcast</h2>
            <p class="episode-count">1 episode</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://media.simplecast.com/podcast/image/271/small_1437963534-artwork.jpg" alt="">
          <div class="podcast-overview">
            <h2>Giant Robots</h2>
            <p class="episode-count">1 episode</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="https://thoughtbot.com/assets/podcast-covers/bike-shed-7da687695385db21aa97e1832f4e814c58986f17236bb7de2f6de650f3ce577b.png" alt="">
          <div class="podcast-overview">
            <h2>The Bike Shed</h2>
            <p class="episode-count">10 episode</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>
<div id="pagination">
  <ul>
    <a href="#">
      <li>Back</li>
    </a>
    <a href="#">
      <li>1</li>
    </a>
    <a href="#">
      <li>2</li>
    </a>
    <a href="#">
      <li>3</li>
    </a>
    <a href="#">
      <li>Next</li>
    </a>
  </ul>
</div>